################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AIPrototypeAssetRepair/DesignTimeBuild
/.vs/AIPrototypeAssetRepair/FileContentIndex
/.vs/ProjectEvaluation
/.vs/AIPrototypeAssetRepair/v17
/AIPrototypeAssetRepair/bin/Debug/net8.0-windows
/AIPrototypeAssetRepair.Core/bin/Debug/net8.0
/AIPrototypeAssetRepair.Core/obj
/AIPrototypeAssetRepair/obj
